@model IEnumerable<ClinicaLucas.Models.Consulta>

@{
    ViewData["Title"] = "Index";
}

<h1>Relação de Consultas</h1>

<p>
    <a  asp-controller="Pacientes" asp-action="Index" class="btn btn-secondary">Voltar para o Painel de Clientes</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protocolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exame)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protocolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exame.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
